<ui-card title="Contraseña" class="w-full h-full">
    <div class="p-2 bg-base-content w-full h-full rounded-2xl custom-scroll">
        <ul class="list space-y-2 w-full h-full overflow-y-auto">
            @if(!collection.isLoading()){
            @if(collection.hasValue()){
            @for (item of collection.value(); track $index) {
            <ui-list-item severity="secondary" [label]="item.name">
                <div actions>
                    <ul class="flex">
                        @if(item.secure){
                        <div class="flex items-center">
                            <span class="icon text-success">shield</span>
                        </div>
                        }
                        <ui-list-button icon="edit" (click)="openEdit(item)" />
                        <ui-list-button icon="delete" (click)="questionDelete(item)" />
                    </ul>
                </div>
            </ui-list-item>
            }@empty {
            <div class="text-base-100/60 text-center m-auto">
                Guarda tus contraseñas para no olvidarlas.
            </div>
            }
            }
            }@else {
            <div class="skeleton min-h-[3.5rem] w-full"></div>
            <div class="skeleton min-h-[3.5rem] w-full"></div>
            <div class="skeleton min-h-[3.5rem] w-full"></div>

            }
        </ul>
    </div>

    <div actions>
        <ui-card-button icon="filter_alt" />
        <ui-card-button icon="add" shape="circle" severity="primary" (click)="openAdd()" />
    </div>
</ui-card>

<ui-modal #formModal [title]="addStatus().isEdit ? 'Editar contraseña' : 'Agregar contraseña'" size="md">
    <div body>
        <form [formGroup]="_form" class="pt-2 grid gap-4" (reset)="cancelForm()" (ngSubmit)="add()">
            <ui-input label="Nombre" inputId="name" formControlName="name">
                <ng-template errorMessage="required">
                    <p class="validator-hint">
                        Este campo es obligatorio
                    </p>
                </ng-template>
            </ui-input>
            <auth-password-input inputId="password" formControlName="password">
                <ng-template errorMessage="required">
                    <p class="validator-hint">
                        Este campo es obligatorio
                    </p>
                </ng-template>
            </auth-password-input>

            <div class="flex space-x-3 pt-2 justify-end">
                <ui-button label="Cancelar" severity="secondary" type="reset" />
                <ui-button [label]=" addStatus().isEdit ? 'Editar': 'Agregar' " severity="primary" type="submit"
                    [loading]="addStatus().loanding" />
            </div>
        </form>
    </div>
</ui-modal>

<ui-modal #deleteModal title="Eliminar contraseña" icon="warning" size="sm" [static]="true">
    <div body>
        <div class="flex items-center gap-4 mb-4">
            <span class="icon bg-error/15 rounded-full text-error flex justify-center items-center w-10 h-10">info</span>
            <p>¿Está seguro de que desea eliminar esta contraseña
                <strong>{{this.deleteStatus().password?.name}}</strong>? Esta acción no se puede
                deshacer.</p>
        </div>
    </div>
    <div footer class="flex justify-end gap-4">
        <ui-button label="Cancelar" severity="secondary" (click)="deleteModal.close()" />
        <ui-button label="Eliminar" severity="error" (click)="delete()" [loading]="deleteStatus().loanding" />
    </div>
</ui-modal>