<dialog #dialogElement class="modal" (click)="_onBackdropClick($event)">
  <div class="modal-box" [class.is-fullscreen]="fullscreen()" [class]="'max-w-' + size()">
    <div class="flex justify-between items-center">
      <h3 class="text-2xl font-bold flex space-x-1 items-center">
        @if (icon()) {
          @if (iconBg()) {
            <span
              class="icon flex justify-center items-center w-10 h-10 rounded-full bg-{{
                iconBg()
              }}/15 text-{{ iconBg() }}"
            >
              {{ icon() }}
            </span>
          } @else {
            <span class="icon">{{ icon() }}</span>
          }
        }
        <span>{{ title() }}</span>
      </h3>

      @if (showCloseButton() && !static()) {
        <button
          type="button"
          class="btn btn-sm btn-circle btn-ghost icon"
          (click)="isOpen.set(false)"
        >
          close
        </button>
      }
    </div>

    @if (fullscreen()) {
      <div class="config-layout">
        <aside class="config-nav">
          <ng-content select="[sectionsNav]" />
        </aside>
        <section class="config-body">
          <ng-content select="[sectionsBody]" />
        </section>
      </div>
    } @else {
      <div class="py-4">
        <ng-content select="[body]" />
      </div>
    }

    <ng-content select="[footer]" />
  </div>

  @if (!static()) {
    <form method="dialog" class="modal-backdrop">
      <button [value]="closeOnBackdrop() ? 'close' : 'hide'">close</button>
    </form>
  }
</dialog>
