@if (labelText()) {
  <label class="label-field" [attr.for]="inputId()">{{ labelText() }}:</label>
} @else if (label(); as l) {
  <label class="label-field" [attr.for]="inputId()">
    <ng-container *ngTemplateOutlet="l.template" />
  </label>
}
<div class="input input-md w-full" [class.validator]="isInvalid()">
  <ng-content select="[prefix]" />
  <select
    class="select select-ghost flex-1 min-w-0 bg-base-200 outline-none"
    [id]="inputId()"
    [disabled]="disabled()"
    [attr.aria-invalid]="isInvalid() ? true : null"
    (change)="onChange($event)"
    (blur)="onBlur()"
  >
    @if (placeholder()) {
      <option value="" disabled [selected]="value() === null">{{ placeholder() }}</option>
    }
    @for (opt of options(); track opt.value) {
      <option [value]="opt.value" [selected]="opt.value === value()">{{ opt.label }}</option>
    }
  </select>
  <ng-content select="[suffix]" />
</div>

<ui-field-errors />
