<div class="card card-xl h-full flex-row {{ _themeClass() }} {{ _variantClass() }}">
    <div class="card-body {{ _paddingClass() }}">
        @if (title()) {
        <div class="card-header-custom">
            <h2 class="card-title">{{title()}}</h2>
            @if(subtitle()){
            <p class="card-subtitle">{{subtitle()}}</p>
            }
        </div>
        }
        <div class="card-content">
            <ng-content></ng-content>
        </div>
    </div>
    @if(actions()){
    <div class="card-actions-custom">
        <ng-content select="[actions]"></ng-content>
    </div>
    }
</div>