<dialog #secureModal class="modal">
    <div class="modal-box max-w-xl">
        <div class="flex justify-between items-center">
            <h3 class="text-2xl font-bold flex space-x-1 items-center">
                <span class="icon">shield</span> <span>Configurar Vault</span>
            </h3>

            <button class="btn btn-sm btn-circle btn-ghost icon" (click)="secureModal.close()">
                close
            </button>

        </div>
        <p class="p-3 my-4 rounded-xl bg-base-200 text-sm">
            Protege tu vault eligiendo cómo quieres desbloquearlo.
        </p>
        <div class="tabs tabs-lift">
            <label class="tab gap-2 ml-1 ">
                <input type="radio" name="vault" value="PASSKEY" [(ngModel)]="checked" />
                <span class="icon">passkey</span>
                Passkey
                <span class="badge badge-success badge-sm">Recomendado</span>
            </label>
            <div class="tab-content border-base-300 bg-base-100 p-6 rounded-xl m-[-5px]">
                <div class="flex flex-col gap-4 items-center">
                    <p class="text-sm text-base-content/70">
                        Usa tu huella, rostro o dispositivo para crear una clave segura.
                    </p>
                    <p class="text-sm text-success">
                        Más seguro y sin contraseñas
                    </p>
                    <sh-button class="w-2/5" btnClass="w-full" icon="passkey" label="Crear Passkey" severity="success"
                        type="button" [disabled]="creatingUnlockWithPassKey()" [isLoandig]="creatingUnlockWithPassKey()"
                        (onClick)="registerPasskey()" />
                </div>
            </div>
            <label class="tab gap-2">
                <input type="radio" name="vault" value="PIN" [(ngModel)]="checked" />
                <span class="icon">password</span>
                Pin
            </label>
            <div class="tab-content border-base-300 bg-base-100 p-6 rounded-xl m-[-5px]">
                @if(!this.createUnlockWithPin()){
                <form [formGroup]="this._secureForm" (ngSubmit)="submitFormPin()"
                    class="flex flex-col items-center gap-4">
                    <p class="text-sm text-base-content/70 text-center">
                        @if (!haveUnlockKeyWithPin()) {
                        Usa un PIN de 5 dígitos para proteger tu vault y acceder desde cualquier dispositivo.
                        } @else {
                        Cambia tu PIN para mantener la seguridad de tu vault.
                        }
                    </p>
                    <p class="text-xs text-base-content/60">
                        Puedes usarlo junto con Passkey como método de respaldo
                    </p>
                    <p class="text-sm text-success text-center">
                        @if (!haveUnlockKeyWithPin()) {
                        Simple y rápido como método alternativo
                        } @else {
                        Actualiza tu PIN de forma rápida y segura
                        }
                    </p>
                    <!-- PIN actual (solo en cambio) -->
                    @if (haveUnlockKeyWithPin()) {
                    <sh-input-pin inputId="current-pin" label="PIN actual" class="mb-6" formControlName="current_pin"
                        [length]="5" />
                    }
                    <sh-input-pin inputId="pin" [label]="!haveUnlockKeyWithPin()? 'Ingresa tu PIN' : 'Nuevo PIN'"
                        formControlName="pin" [length]="5" />
                    <sh-input-pin inputId="verify-pin" label="Confirma tu pin" formControlName="verify_pin"
                        [length]="5">
                        <ng-template errorMessage="notMatching">
                            <p class="validator-hint">
                                El pin no coinciden
                            </p>
                        </ng-template>
                    </sh-input-pin>
                    <sh-button class="w-2/5 mt-4" btnClass="w-full" icon="password"
                        [label]="!haveUnlockKeyWithPin() ? 'Crear PIN' : 'Actualizar PIN'" severity="primary"
                        type="submit" [disabled]="isLoadingUnlockWithPin()" [isLoandig]="isLoadingUnlockWithPin()" />
                </form>
                }@else(){
                <div class="flex flex-col items-center gap-4 text-center">
                    <div class="flex justify-center items-center rounded-full bg-success/10 text-success w-12 h-12">
                        <span class="icon text-4xl">check_circle</span>
                    </div>

                    <p class="text-base font-semibold">
                        PIN creado correctamente
                    </p>

                    <p class="text-sm text-base-content/70">
                        Ya puedes usar tu PIN para acceder a tu vault desde cualquier dispositivo.
                    </p>

                    <p class="text-xs text-base-content/60">
                        También puedes usar Passkey como método alternativo para mayor seguridad.
                    </p>

                    <div class="flex gap-4 w-full justify-center">
                        <sh-button class="w-2/5 mt-4" btnClass="w-full" label="Crear PassKey" severity="primary"
                            (click)="checked.set('PASSKEY'); createUnlockWithPin.set(false) " />
                        <sh-button class="w-2/5 mt-4" btnClass="w-full" label="Salir" severity="secondary"
                            (click)="secureModal.close()" />
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</dialog>