<li
  class="item-list-row item-list-{{ severity() }}  item-list-{{ variant() }}"
  [class.item-list-disabled]="disabled()"
  [class.item-list-selected]="selected()"
>
  <div class="item-list-leading">
    <ng-content select="[leading]"></ng-content>
  </div>
  <div class="item-list-content">
    @if (label()) {
      <span class="item-list-label" [title]="label()">{{ label() }}</span>
    }
    @if (sub()) {
      <span class="item-list-sub" [title]="sub()">{{ sub() }}</span>
    }
  </div>

  <div class="item-list-actions">
    <ng-content select="[actions]"></ng-content>
  </div>
</li>
