<form [formGroup]="form" class="p-4 min-w-[25rem] grid gap-4" (ngSubmit)="onSubmit()">
  @if (showVerificationMessage) {
    <div class="alert alert-success">
      <span class="icon">mark_email_unread</span>
      <span>Revisa tu correo y verifica tu cuenta para continuar.</span>
    </div>
  } @else {
    <ui-email-field inputId="email" formControlName="email" />
    @let pwdValid = passwordValid();
    @let pwdInvalid = passwordStatus() === 'INVALID';
    @let pwdTouched = passwordTouched();
    <ui-password-field inputId="password" formControlName="password" autocomplete="new-password">
      <ng-template errorMessage="firebasePassword" [visible]="true" let-error>
        <ul class="list">
          <li class="py-2 text-xs opacity-60 tracking-wide">Tu contraseña debe tener:</li>
          <li class="list-row">
            <span
              class="icon"
              [ngClass]="{
                success: pwdTouched && pwdValid,
                error: pwdTouched && pwdInvalid && !error?.minLength,
              }"
            >
              {{
                pwdTouched && pwdValid
                  ? 'check'
                  : pwdTouched && pwdInvalid && !error?.minLength
                    ? 'error'
                    : 'remove'
              }}
            </span>
            <div class="text-xs">Mínimo 8 caracteres</div>
          </li>

          <li class="list-row">
            <span
              class="icon"
              [ngClass]="{
                success: pwdTouched && pwdValid,
                error: pwdTouched && pwdInvalid && !error?.lower,
              }"
            >
              {{
                pwdTouched && pwdValid
                  ? 'check'
                  : pwdTouched && pwdInvalid && !error?.lower
                    ? 'error'
                    : 'remove'
              }}
            </span>
            <div class="text-xs">Letra minúscula</div>
          </li>

          <li class="list-row">
            <span
              class="icon"
              [ngClass]="{
                success: pwdTouched && pwdValid,
                error: pwdTouched && pwdInvalid && !error?.upper,
              }"
            >
              {{
                pwdTouched && pwdValid
                  ? 'check'
                  : pwdTouched && pwdInvalid && !error?.upper
                    ? 'error'
                    : 'remove'
              }}
            </span>
            <div class="text-xs">Letra mayúscula</div>
          </li>

          <li class="list-row">
            <span
              class="icon"
              [ngClass]="{
                success: pwdTouched && pwdValid,
                error: pwdTouched && pwdInvalid && !error?.number,
              }"
            >
              {{
                pwdTouched && pwdValid
                  ? 'check'
                  : pwdTouched && pwdInvalid && !error?.number
                    ? 'error'
                    : 'remove'
              }}
            </span>
            <div class="text-xs">Número</div>
          </li>

          <li class="list-row">
            <span
              class="icon"
              [ngClass]="{
                success: pwdTouched && pwdValid,
                error: pwdTouched && pwdInvalid && !error?.special,
              }"
            >
              {{
                pwdTouched && pwdValid
                  ? 'check'
                  : pwdTouched && pwdInvalid && !error?.special
                    ? 'error'
                    : 'remove'
              }}
            </span>
            <div class="text-xs">Carácter especial</div>
          </li>
        </ul>
      </ng-template>
      <ng-template errorMessage="required">
        <p class="validator-hint">Este campo es obligatorio</p>
      </ng-template>
    </ui-password-field>
    <ui-password-field
      labelText="Verificar contraseña"
      inputId="verifyPassword"
      formControlName="verifyPassword"
      autocomplete="new-password"
    >
      <ng-template errorMessage="required">
        <p class="validator-hint">Este campo es obligatorio</p>
      </ng-template>
      <ng-template errorMessage="notMatching">
        <p class="validator-hint">Las contraseñas no coinciden</p>
      </ng-template>
    </ui-password-field>

    <div></div>
    <button class="btn btn-primary btn-lg mt-4" type="submit" [disabled]="loading">
      @if (loading) {
        <span class="loading loading-infinity"></span>
      } @else {
        Registrarme
      }
    </button>

    <button class="btn btn-lg btn-secondary" routerLink="/login" type="button">
      Volver a login
    </button>
  }
</form>
