<label class="label">{{label()}}:</label>

<div class="flex gap-2" role="group" [attr.aria-label]="'Introduce tu PIN de ' + length() + ' dígitos'"
    [class.validator]="isInvalid">
    @for (digit of digits; let i = $index; track i) {
    <input #pinInput type="text" inputmode="numeric" maxlength="1" [class.validator]="isInvalid"
        class="input input-lg text-center text-2xl tracking-widest w-[4.5ch]! h-[4.5ch]! p-0 flex-none" [value]="digit"
        (input)="onInputNumber($event, i)" (keydown)="onKeyDown($event, i)" (paste)="onPaste($event)"
        (focusout)="handleBlur()" [attr.aria-invalid]="isInvalid ? true : null" />
    }
</div>

@for (m of errorMessages(); track $index) {
@if((errors?.[m.error()] && isInvalid) || m.visible()){
<ng-container [ngTemplateOutlet]="m.template" [ngTemplateOutletContext]=" { $implicit: errors?.[m.error()] }">
</ng-container>
}
}